{% extends 'manager/base.html' %}
{% block body %}
<div class="details">
    <div class="recentOrders">
        <div class="cardHeader">
            <h2>Update Appointment</h2>
            <a href="/manager" class="btn">View All</a>
        </div>

        <div>
            <form method="post" class="form-control g-3">
                <h2 style="text-align: center;">Patients Details</h2>
                {% csrf_token %}
                <!-- line 1 -->
                <div class="row m-1">
                    <div class="col m-1">
                        <label for="inputEmail4" class="form-control">Name *
                            <input value="{{appo.name}}" type="name" name="name" class="form-control"
                                placeholder="Enter Name" required>
                        </label>
                    </div>
                    <div class="col m-1"><label for="inputEmail4" class="form-control">Gender *
                            <br>
                            <label><input type="radio" value="Male" name="gender" id="101" required />Male
                            </label>
                            <label>
                                <input type="radio" value="Female" name="gender" id="102" required />Female
                            </label>
                        </label>
                    </div>
                </div>
                <!-- line 2 -->
                <div class="row m-1">
                    <div class="col m-1">
                        <label for="inputEmail4" class="form-control">Phone *
                            <input value="{{appo.phone}}" type="tel" name="phone" class="form-control"
                                placeholder="Enter Phone No." required>
                        </label>
                    </div>

                </div>
                <!-- line 3 -->

                <!-- line 4 -->
                <div class="row m-1">
                    <div class="col m-1">
                        <label for="inputEmail4" class="form-control">Date *
                            <input value="{{appo.date}}" type="date" name="appodate" class="form-control" required>
                        </label>
                    </div>
                    <div class="col m-1">
                        <label for="inputEmail4" class="form-control">Time
                            <input value="{{appo.time}}" type="time" name="appotime" class="form-control">

                        </label>
                    </div>
                </div>
                <!-- line 5 -->
                <div class="row m-1">
                    <div class="col m-1">
                        <label for="inputEmail4" class="form-control">Select Your Doctor : *
                            <select class="form-select" name="doctor" type="select" required>

                                <option>{{appo.doctor}}</option>
                                <option value="Stephanie Wosniack">Stephanie Wosniack</option>
                                <option value="Hellen Lowe">Hellen Lowe</option>
                                <option value="Emily Washington">Emily Washington</option>
                                <option value="Sussie Wolff">Sussie Wolff</option>
                            </select>
                        </label>
                    </div>
                    <div class="col m-3"><label for="inputEmail4" class="form-label">
                            <input type="submit" value="Update APPOINTMENT"
                                class=" btn btn-primary form-control"></label>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}