{% extends 'base.html' %}
{% block title %} Faq {% endblock title %}

{% block body %}
<div style="width:100%">


  <div>
    <div colspan="8"><img src="/static/images/banner3.jpg" style="width:100%;"></div>
  </div>

  <tr>
    <td colspan="8" style="padding:5px 20px;">
      <h1>FAQ</h1>

      <h2>What do we do?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pellentesque massa et metus mattis, a auctor
        est tincidunt. Morbi tincidunt dolor a tincidunt auctor. Vestibulum a metus vitae eros hendrerit sodales nec
        in sem. Vestibulum in libero mauris. Sed finibus, sapien vitae ornare iaculis, enim nunc viverra justo, nec
        volutpat leo erat et magna. Integer tempor nisi et est aliquet, eget ullamcorper ante placerat. In ultricies
        lobortis tortor, viverra feugiat erat viverra ac. Quisque tristique augue vitae vulputate molestie.
        Pellentesque at cursus libero. Donec non varius ligula, id gravida velit. Sed id scelerisque nulla. Mauris ac
        tempus tellus. Quisque mattis nec sem a pulvinar. Aliquam malesuada, eros vel dignissim dictum, lacus ante
        vestibulum elit, eget dictum lectus urna pretium ligula. Praesent tristique vestibulum lorem vitae commodo.
        Integer molestie dapibus lacus, in tempor dui elementum id.</p>

      <h2>How do we do it?</h2>
      <p>Integer tempor nisi et est aliquet, eget ullamcorper ante placerat. In ultricies lobortis tortor, viverra
        feugiat erat viverra ac. Quisque tristique augue vitae vulputate molestie. Pellentesque at cursus libero.
        Donec non varius ligula, id gravida velit. Sed id scelerisque nulla. Mauris ac tempus tellus. Quisque mattis
        nec sem a pulvinar. Aliquam malesuada, eros vel dignissim dictum, lacus ante vestibulum elit, eget dictum
        lectus urna pretium ligula.</p>

      <h2>What’s our expertise?</h2>
      <p>Donec non varius ligula, id gravida velit. Sed id scelerisque nulla. Mauris ac tempus tellus. Quisque mattis
        nec sem a pulvinar. Aliquam malesuada, eros vel dignissim dictum, lacus ante vestibulum elit, eget dictum
        lectus urna pretium ligula. Praesent tristique vestibulum lorem vitae commodo. Integer molestie dapibus lacus,
        in tempor dui elementum id.</p>


      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pellentesque massa et metus mattis, a auctor est
        tincidunt. Morbi tincidunt dolor a tincidunt auctor. Vestibulum a metus vitae eros hendrerit sodales nec in
        sem. Vestibulum in libero mauris.</p>

      <h2>When do we work?</h2>
      <p>Praesent tristique vestibulum lorem vitae commodo. Integer molestie dapibus lacus, in tempor dui elementum
        id.</p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pellentesque massa et metus mattis, a auctor est
        tincidunt. Morbi tincidunt dolor a tincidunt auctor. Vestibulum a metus vitae eros hendrerit sodales nec in
        sem. Vestibulum in libero mauris.</p>

      <h2>How competent are our staff?</h2>
      <p>Nulla ut velit neque. Praesent massa orci, molestie ut posuere a, tincidunt nec dui. Quisque feugiat sem sed
        orci sagittis, id dictum eros sodales. Nullam ac ante elit. Vivamus et nisl augue. Aenean vitae justo nulla.
        Nam auctor dui vel purus iaculis consequat. Morbi quis finibus magna, quis malesuada diam.</p>

    </td>
  </tr>

</div>

{% endblock body %}