{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block body %}

<!-- Start About Us -->
<div class="home">
    <img src=" /static/images/banner.avif" style="width:100%; ">
</div>
<div class="about">
    <div class="about-text">
        <h1>About Us</h1>
        <p>
            Health care or healthcare is the improvement of health via the prevention, diagnosis, treatment,
            amelioration
            or cure of disease, illness, injury, and other physical and mental impairments in people. Health
            care is
            delivered by health professionals and allied health fields. Medicine, dentistry, pharmacy,
            midwifery, nursing,
            optometry, audiology, psychology, occupational therapy, physical therapy, athletic training, and
            other health
            professions all constitute health care. It includes work done in providing primary care, secondary
            care, and
            tertiary care, as well as in public health.</p>

        <p>
            Access to health care may vary across coundivies, communities, and individuals, influenced by social
            and
            economic conditions as well as health policies. Providing health care services means "the timely use
            of
            personal health services to achieve the best possible health outcomes".[3] Factors to consider in
            terms of
            health care access include financial limitations (such as insurance coverage), geographical and
            logistical
            barriers (such as additional transportation costs and the possibility to take paid time off work to
            use such
            services), sociocultural expectations, and personal limitations (lack of ability to communicate with
            health
            care providers, poor health literacy, low income).[4] Limitations to health care services affects
            negatively
            the use of medical services, the efficacy of treatments, and overall outcome (well-being, mortality
            rates).
        </p>
    </div>
    <div class="about-img">
        <img src="/static/images/about.jpg">
    </div>

</div>
<!-- End About Us -->
<!-- Start Our Services -->
<section id="services">
    <h2 class="heading">Our Services</h2>
    <div class="services">
        <div>
            <img src="/static/images/serv1.jpg">
            <p class="s-name">For your child whitest teeths</p>
            <h4>DENTIST</h4>
            <p>Praesent convallis tortor et enim laoreet, vel consectetur purus latoque penatibus et dis
                parturient.
            </p>
        </div>

        <div>
            <img src="/static/images/serv2.jpg">
            <p class="s-name">Got a broken heart?</p>
            <h4>CARDIOLOGIST</h4>
            <p>Praesent convallis tortor et enim laoreet, vel consectetur purus latoque penatibus et dis
                parturient.
            </p>
        </div>


        <div>
            <img src="/static/images/serv3.jpg">
            <p class="s-name">Neck or back pain?</p>
            <h4>CHIROPRACTOR</h4>
            <p>Praesent convallis tortor et enim laoreet, vel consectetur purus latoque penatibus et dis
                parturient.
            </p>
        </div>
        <div>
            <img src="/static/images/serv4.jpg">
            <p class="s-name">Oral problems?</p>
            <h4>PEDIATRICIAN</h4>
            <p>Praesent convallis tortor et enim laoreet, vel consectetur purus latoque penatibus et dis
                parturient.
            </p>
        </div>
    </div>
</section>


<section>

    <div>
        <h2 class="heading">Our Doctors</h2>
    </div>


    <div class="services">
        <div>
            <img src="/static/images/doc1.jpg">
            <p>Pediatrician</p>
            <h4>Sussie Wolff</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div>
            <img src="/static/images/doc2.jpg">
            <p>Dental surgeon</p>
            <h4>Ashley Willson</h4>
            <p>Vivamus sapien ligula, mattis luctus magna.</p>
        </div>


        <div>
            <img src="/static/images/doc3.jpg">
            <p>Cosmetic Surgeon</p>
            <h4>Gabriela Beckett</h4>
            <p>Donec varius libero tortor, eu luctus ipsum aliquet ut.</p>
        </div>

        <div>
            <img src="/static/images/doc4.jpg">
            <p>General Doctor</p>
            <h4>George Button</h4>
            <p>Curabitur lobortis, eros eu efficitur lacinia, velit magna cursus nisi.</p>
        </div>

    </div>

</section>

{% endblock body %}